	
	<!-- connecting header  -->

	<%- include ('header.ejs') %>

	<!-- connecting nav bar or menu bar  -->

	<%- include ('nav.ejs') %>

	<!-- connecting middle content   -->

	<%- include ('banner.ejs') %>


	
		
		<div id="sidebar-bg">
			<div id="sidebar">
				<ul>
					<li>
						<h2>Home Page</h2>
						<p>We're so confident in our WooCommerce offering that we offer a 30 day money back guarantee if you are unhappy with our products or service.</p>
					</li>
					<li>
						<h2>Quality Work</h2>
						<ul>
							<li><a href="#">Manage or un-manage stock</a></li>
							<li><a href="#">Stock status</a></li>
							<li><a href="#">Stock quantities</a></li>
							<li><a href="#">Restock history</a></li>
							<li><a href="#">Special and standard prices</a></li>
						</ul>

					</li>
					<li>
						<h2>Expert Worker</h2>
						<ul>
							<li><a href="#">Devising ways to optimize inventory control procedures</a></li>
							<li><a href="#">Devise ways to optimize inventory control procedures</a></li>
						</ul>
					</li>
					<li>
						<h2>Office Contact</h2>
						<ul>
							<p>Phone number - XXX XXX XXXX</p>
							<p>Address - Vijay nagar indore </p>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->


	<!-- connecting footer  -->

	<%- include ('footer.ejs') %>

