	
	<!-- connecting header  -->

	<%- include ('header.ejs') %>

	<!-- connecting nav bar or menu bar  -->

	<%- include ('usernav.ejs') %>

	<!-- connecting middle content   -->



	
		
		<div id="sidebar-bg">
			<div id="sidebar">
				<ul>
					<li>
						<h2>User Home Page</h2>
					</li>	
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->


	<!-- connecting footer  -->

	<%- include ('userfooter.ejs') %>

